node_modules
dist
generated
.git
.gitignore
.env
.env.*
*.md
docs
coverage
load-tests
postman
uploads/menu-items/*
uploads/event-posters/*
uploads/feedback-photos/*
uploads/establishment-profiles/*
.vscode
.idea
.DS_Store
